.env

lambda-layer

env

virtual-environment

__pycache__/*

# Ignore all __pycache__ directories

__pycache__/
**/__pycache__/
**.pyc
**.pyo

venv

mathew_ENV_3.9.0

chroma_db

node_modules

.serverless

dummy_data.pdf

database_data.json

GeeksVisor_Info.pdf

my_lambda_layer

my_lambda_layer.zip